.DS_Store
.gitkeep

*/bin/*
!data
bin/data/settings.xml

# Mac
# resources/*
config.make
*.xcodeproj
Makefile
openFrameworks-Info.plist
Project.xcconfig
addons.make

# Win
*.sdf
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
addons.make
icon.aps
icon.rc
obj/*
*.vs